/* barlow-regular - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/barlow-v11-latin-regular.woff2") format("woff2"),
    url("../fonts/barlow-v11-latin-regular.woff") format("woff");
}

/* barlow-700 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/barlow-v11-latin-700.woff2") format("woff2"),
    url("../fonts/barlow-v11-latin-700.woff") format("woff");
}

/* fraunces-900 - latin */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/fraunces-v10-latin-900.eot");
  src: local(""),
    url("../fonts/fraunces-v10-latin-900.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/fraunces-v10-latin-900.woff2") format("woff2"),
    url("../fonts/fraunces-v10-latin-900.woff") format("woff"),
    url("../fonts/fraunces-v10-latin-900.ttf") format("truetype"),
    url("../fonts/fraunces-v10-latin-900.svg#Fraunces") format("svg");
}

body {
  padding: 0;
  margin: 0;
  font-family: "Fraunces", "Barlow", "sans-serif";
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* FOOTER */

.footer {
  background-color: #2c343e;
  padding-top: 47px;
  padding-bottom: 47px;
}

.footer-container {
  display: flex;
  align-items: center;
}

.footer-logo {
  transition: 0.3s ease;
  margin-right: 102px;
}

.footer-logo:hover {
  opacity: 0.7;
}

.footer-logo:active {
  opacity: 0.7;
}

.nav {
  margin-right: auto;
}

.nav-list {
  display: flex;
}

.nav-item:not(:last-child) {
  margin-right: 33px;
}

.nav-links {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.923077px;
  text-transform: uppercase;
  color: #83888f;
  transition: 0.3s ease;
}

.nav-links:hover {
  opacity: 0.7;
  color: #dce1e7;
}
.nav-links:active {
  color: #dce1e7;
  opacity: 0.4;
}

.footer-socials {
  display: flex;
}

.footer-socials-link:not(:last-child) {
  margin-right: 24px;
  transition: 0.3s ease;
}

.footer-socials-link:hover {
  opacity: 0.7;
}
.footer-socials-link:active {
  opacity: 0.4;
}

/* FOOTER END */
