/* barlow-regular - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../fonts/barlow-v11-latin-regular.woff2") format("woff2"),
    url("../fonts/barlow-v11-latin-regular.woff") format("woff");
}
/* barlow-700 - latin */
@font-face {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local(""), url("../fonts/barlow-v11-latin-700.woff2") format("woff2"),
    url("../fonts/barlow-v11-latin-700.woff") format("woff");
}

/* fraunces-900 - latin */
@font-face {
  font-family: "Fraunces";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../fonts/fraunces-v10-latin-900.eot");
  src: local(""),
    url("../fonts/fraunces-v10-latin-900.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/fraunces-v10-latin-900.woff2") format("woff2"),
    url("../fonts/fraunces-v10-latin-900.woff") format("woff"),
    url("../fonts/fraunces-v10-latin-900.ttf") format("truetype"),
    url("../fonts/fraunces-v10-latin-900.svg#Fraunces") format("svg");
}

body {
  padding: 0;
  margin: 0;
  font-family: "Fraunces", "Barlow", "sans-serif";
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
}

ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

.container {
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

/* FOOTER */
